<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.mapper.TActivityMapper" >
  <resultMap id="BaseResultMap" type="com.school.entity.TActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="titles" property="titles" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="activityTime" property="activitytime" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="precautions" property="precautions" jdbcType="VARCHAR" />
    <result column="claim" property="claim" jdbcType="VARCHAR" />
    <result column="objects" property="objects" jdbcType="VARCHAR" />
    <result column="organizer" property="organizer" jdbcType="VARCHAR" />
    <result column="currentNum" property="currentnum" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="fk_userid" property="fkUserid" jdbcType="INTEGER" />
    <result column="acstate" property="acstate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, titles, images, content, activityTime, address, precautions, claim, objects, 
    organizer, currentNum, createTime, fk_userid, acstate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.school.entity.TActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.school.entity.TActivityExample" >
    delete from t_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.school.entity.TActivity" >
    insert into t_activity (id, titles, images, 
      content, activityTime, address, 
      precautions, claim, objects, 
      organizer, currentNum, createTime, 
      fk_userid, acstate)
    values (#{id,jdbcType=INTEGER}, #{titles,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{activitytime,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{precautions,jdbcType=VARCHAR}, #{claim,jdbcType=VARCHAR}, #{objects,jdbcType=VARCHAR}, 
      #{organizer,jdbcType=VARCHAR}, #{currentnum,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{fkUserid,jdbcType=INTEGER}, #{acstate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.TActivity" >
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="titles != null" >
        titles,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="activitytime != null" >
        activityTime,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="precautions != null" >
        precautions,
      </if>
      <if test="claim != null" >
        claim,
      </if>
      <if test="objects != null" >
        objects,
      </if>
      <if test="organizer != null" >
        organizer,
      </if>
      <if test="currentnum != null" >
        currentNum,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="fkUserid != null" >
        fk_userid,
      </if>
      <if test="acstate != null" >
        acstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titles != null" >
        #{titles,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="activitytime != null" >
        #{activitytime,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="precautions != null" >
        #{precautions,jdbcType=VARCHAR},
      </if>
      <if test="claim != null" >
        #{claim,jdbcType=VARCHAR},
      </if>
      <if test="objects != null" >
        #{objects,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null" >
        #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="currentnum != null" >
        #{currentnum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUserid != null" >
        #{fkUserid,jdbcType=INTEGER},
      </if>
      <if test="acstate != null" >
        #{acstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.school.entity.TActivityExample" resultType="java.lang.Integer" >
    select count(*) from t_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_activity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.titles != null" >
        titles = #{record.titles,jdbcType=VARCHAR},
      </if>
      <if test="record.images != null" >
        images = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.activitytime != null" >
        activityTime = #{record.activitytime,jdbcType=DATE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.precautions != null" >
        precautions = #{record.precautions,jdbcType=VARCHAR},
      </if>
      <if test="record.claim != null" >
        claim = #{record.claim,jdbcType=VARCHAR},
      </if>
      <if test="record.objects != null" >
        objects = #{record.objects,jdbcType=VARCHAR},
      </if>
      <if test="record.organizer != null" >
        organizer = #{record.organizer,jdbcType=VARCHAR},
      </if>
      <if test="record.currentnum != null" >
        currentNum = #{record.currentnum,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkUserid != null" >
        fk_userid = #{record.fkUserid,jdbcType=INTEGER},
      </if>
      <if test="record.acstate != null" >
        acstate = #{record.acstate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_activity
    set id = #{record.id,jdbcType=INTEGER},
      titles = #{record.titles,jdbcType=VARCHAR},
      images = #{record.images,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      activityTime = #{record.activitytime,jdbcType=DATE},
      address = #{record.address,jdbcType=VARCHAR},
      precautions = #{record.precautions,jdbcType=VARCHAR},
      claim = #{record.claim,jdbcType=VARCHAR},
      objects = #{record.objects,jdbcType=VARCHAR},
      organizer = #{record.organizer,jdbcType=VARCHAR},
      currentNum = #{record.currentnum,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      fk_userid = #{record.fkUserid,jdbcType=INTEGER},
      acstate = #{record.acstate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.TActivity" >
    update t_activity
    <set >
      <if test="titles != null" >
        titles = #{titles,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="activitytime != null" >
        activityTime = #{activitytime,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="precautions != null" >
        precautions = #{precautions,jdbcType=VARCHAR},
      </if>
      <if test="claim != null" >
        claim = #{claim,jdbcType=VARCHAR},
      </if>
      <if test="objects != null" >
        objects = #{objects,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null" >
        organizer = #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="currentnum != null" >
        currentNum = #{currentnum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUserid != null" >
        fk_userid = #{fkUserid,jdbcType=INTEGER},
      </if>
      <if test="acstate != null" >
        acstate = #{acstate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.TActivity" >
    update t_activity
    set titles = #{titles,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      activityTime = #{activitytime,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      precautions = #{precautions,jdbcType=VARCHAR},
      claim = #{claim,jdbcType=VARCHAR},
      objects = #{objects,jdbcType=VARCHAR},
      organizer = #{organizer,jdbcType=VARCHAR},
      currentNum = #{currentnum,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      fk_userid = #{fkUserid,jdbcType=INTEGER},
      acstate = #{acstate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>