<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.mapper.TCommentReplyMapper" >
  <resultMap id="BaseResultMap" type="com.school.entity.TCommentReply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fk_forum_comment_key" property="fkForumCommentKey" jdbcType="INTEGER" />
    <result column="content_text" property="contentText" jdbcType="VARCHAR" />
    <result column="fk_user_key" property="fkUserKey" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="ranks" property="ranks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fk_forum_comment_key, content_text, fk_user_key, create_time, ranks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.school.entity.TCommentReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.school.entity.TCommentReplyExample" >
    delete from t_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.school.entity.TCommentReply" >
    insert into t_comment_reply (id, fk_forum_comment_key, content_text, 
      fk_user_key, create_time, ranks
      )
    values (#{id,jdbcType=INTEGER}, #{fkForumCommentKey,jdbcType=INTEGER}, #{contentText,jdbcType=VARCHAR}, 
      #{fkUserKey,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{ranks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.TCommentReply" >
    insert into t_comment_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fkForumCommentKey != null" >
        fk_forum_comment_key,
      </if>
      <if test="contentText != null" >
        content_text,
      </if>
      <if test="fkUserKey != null" >
        fk_user_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="ranks != null" >
        ranks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkForumCommentKey != null" >
        #{fkForumCommentKey,jdbcType=INTEGER},
      </if>
      <if test="contentText != null" >
        #{contentText,jdbcType=VARCHAR},
      </if>
      <if test="fkUserKey != null" >
        #{fkUserKey,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="ranks != null" >
        #{ranks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.school.entity.TCommentReplyExample" resultType="java.lang.Integer" >
    select count(*) from t_comment_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_comment_reply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fkForumCommentKey != null" >
        fk_forum_comment_key = #{record.fkForumCommentKey,jdbcType=INTEGER},
      </if>
      <if test="record.contentText != null" >
        content_text = #{record.contentText,jdbcType=VARCHAR},
      </if>
      <if test="record.fkUserKey != null" >
        fk_user_key = #{record.fkUserKey,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.ranks != null" >
        ranks = #{record.ranks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_comment_reply
    set id = #{record.id,jdbcType=INTEGER},
      fk_forum_comment_key = #{record.fkForumCommentKey,jdbcType=INTEGER},
      content_text = #{record.contentText,jdbcType=VARCHAR},
      fk_user_key = #{record.fkUserKey,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      ranks = #{record.ranks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.TCommentReply" >
    update t_comment_reply
    <set >
      <if test="fkForumCommentKey != null" >
        fk_forum_comment_key = #{fkForumCommentKey,jdbcType=INTEGER},
      </if>
      <if test="contentText != null" >
        content_text = #{contentText,jdbcType=VARCHAR},
      </if>
      <if test="fkUserKey != null" >
        fk_user_key = #{fkUserKey,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="ranks != null" >
        ranks = #{ranks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.TCommentReply" >
    update t_comment_reply
    set fk_forum_comment_key = #{fkForumCommentKey,jdbcType=INTEGER},
      content_text = #{contentText,jdbcType=VARCHAR},
      fk_user_key = #{fkUserKey,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      ranks = #{ranks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>