<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.school.entity.TUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pword" jdbcType="VARCHAR" property="pword" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="truename" jdbcType="VARCHAR" property="truename" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="phoneno" jdbcType="VARCHAR" property="phoneno" />
    <result column="brithday" jdbcType="DATE" property="brithday" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
    <result column="fk_school_id" jdbcType="INTEGER" property="fkSchoolId" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="fk_integral_id" jdbcType="INTEGER" property="fkIntegralId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pword, nickname, truename, idcard, phoneno, brithday, sex, address, avatar, credit, 
    fk_school_id, createTime, balance, integral, fk_integral_id
  </sql>
  <select id="selectByExample" parameterType="com.school.entity.TUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.school.entity.TUserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.school.entity.TUser">
    insert into t_user (id, pword, nickname, 
      truename, idcard, phoneno, 
      brithday, sex, address, 
      avatar, credit, fk_school_id, 
      createTime, balance, integral, 
      fk_integral_id)
    values (#{id,jdbcType=INTEGER}, #{pword,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{phoneno,jdbcType=VARCHAR}, 
      #{brithday,jdbcType=DATE}, #{sex,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{credit,jdbcType=INTEGER}, #{fkSchoolId,jdbcType=INTEGER}, 
      #{createtime,jdbcType=DATE}, #{balance,jdbcType=DOUBLE}, #{integral,jdbcType=INTEGER}, 
      #{fkIntegralId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.TUser">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pword != null">
        pword,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="truename != null">
        truename,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="phoneno != null">
        phoneno,
      </if>
      <if test="brithday != null">
        brithday,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="fkSchoolId != null">
        fk_school_id,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="fkIntegralId != null">
        fk_integral_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pword != null">
        #{pword,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null">
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null">
        #{brithday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="fkSchoolId != null">
        #{fkSchoolId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="fkIntegralId != null">
        #{fkIntegralId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.school.entity.TUserExample" resultType="java.lang.Integer">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pword != null">
        pword = #{record.pword,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.truename != null">
        truename = #{record.truename,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneno != null">
        phoneno = #{record.phoneno,jdbcType=VARCHAR},
      </if>
      <if test="record.brithday != null">
        brithday = #{record.brithday,jdbcType=DATE},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null">
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.fkSchoolId != null">
        fk_school_id = #{record.fkSchoolId,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=DOUBLE},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.fkIntegralId != null">
        fk_integral_id = #{record.fkIntegralId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set id = #{record.id,jdbcType=INTEGER},
      pword = #{record.pword,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      truename = #{record.truename,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      phoneno = #{record.phoneno,jdbcType=VARCHAR},
      brithday = #{record.brithday,jdbcType=DATE},
      sex = #{record.sex,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=INTEGER},
      fk_school_id = #{record.fkSchoolId,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=DATE},
      balance = #{record.balance,jdbcType=DOUBLE},
      integral = #{record.integral,jdbcType=INTEGER},
      fk_integral_id = #{record.fkIntegralId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.TUser">
    update t_user
    <set>
      <if test="pword != null">
        pword = #{pword,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null">
        phoneno = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null">
        brithday = #{brithday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="fkSchoolId != null">
        fk_school_id = #{fkSchoolId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="fkIntegralId != null">
        fk_integral_id = #{fkIntegralId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.TUser">
    update t_user
    set pword = #{pword,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      truename = #{truename,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phoneno = #{phoneno,jdbcType=VARCHAR},
      brithday = #{brithday,jdbcType=DATE},
      sex = #{sex,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      fk_school_id = #{fkSchoolId,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=DATE},
      balance = #{balance,jdbcType=DOUBLE},
      integral = #{integral,jdbcType=INTEGER},
      fk_integral_id = #{fkIntegralId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.school.entity.TUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pword" jdbcType="VARCHAR" property="pword" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="truename" jdbcType="VARCHAR" property="truename" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="phoneno" jdbcType="VARCHAR" property="phoneno" />
    <result column="brithday" jdbcType="DATE" property="brithday" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
    <result column="fk_school_id" jdbcType="INTEGER" property="fkSchoolId" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="fk_integral_id" jdbcType="INTEGER" property="fkIntegralId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pword, nickname, truename, idcard, phoneno, brithday, sex, address, avatar, credit, 
    fk_school_id, createTime, balance, integral, fk_integral_id
  </sql>
  <select id="selectByExample" parameterType="com.school.entity.TUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.school.entity.TUserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.school.entity.TUser">
    insert into t_user (id, pword, nickname, 
      truename, idcard, phoneno, 
      brithday, sex, address, 
      avatar, credit, fk_school_id, 
      createTime, balance, integral, 
      fk_integral_id)
    values (#{id,jdbcType=INTEGER}, #{pword,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{phoneno,jdbcType=VARCHAR}, 
      #{brithday,jdbcType=DATE}, #{sex,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{credit,jdbcType=INTEGER}, #{fkSchoolId,jdbcType=INTEGER}, 
      #{createtime,jdbcType=DATE}, #{balance,jdbcType=DOUBLE}, #{integral,jdbcType=INTEGER}, 
      #{fkIntegralId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.TUser">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pword != null">
        pword,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="truename != null">
        truename,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="phoneno != null">
        phoneno,
      </if>
      <if test="brithday != null">
        brithday,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="fkSchoolId != null">
        fk_school_id,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="fkIntegralId != null">
        fk_integral_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pword != null">
        #{pword,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null">
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null">
        #{brithday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="fkSchoolId != null">
        #{fkSchoolId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="fkIntegralId != null">
        #{fkIntegralId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.school.entity.TUserExample" resultType="java.lang.Integer">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pword != null">
        pword = #{record.pword,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.truename != null">
        truename = #{record.truename,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneno != null">
        phoneno = #{record.phoneno,jdbcType=VARCHAR},
      </if>
      <if test="record.brithday != null">
        brithday = #{record.brithday,jdbcType=DATE},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null">
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.fkSchoolId != null">
        fk_school_id = #{record.fkSchoolId,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=DOUBLE},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.fkIntegralId != null">
        fk_integral_id = #{record.fkIntegralId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set id = #{record.id,jdbcType=INTEGER},
      pword = #{record.pword,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      truename = #{record.truename,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      phoneno = #{record.phoneno,jdbcType=VARCHAR},
      brithday = #{record.brithday,jdbcType=DATE},
      sex = #{record.sex,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=INTEGER},
      fk_school_id = #{record.fkSchoolId,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=DATE},
      balance = #{record.balance,jdbcType=DOUBLE},
      integral = #{record.integral,jdbcType=INTEGER},
      fk_integral_id = #{record.fkIntegralId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.TUser">
    update t_user
    <set>
      <if test="pword != null">
        pword = #{pword,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null">
        phoneno = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null">
        brithday = #{brithday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="fkSchoolId != null">
        fk_school_id = #{fkSchoolId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="fkIntegralId != null">
        fk_integral_id = #{fkIntegralId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.TUser">
    update t_user
    set pword = #{pword,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      truename = #{truename,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phoneno = #{phoneno,jdbcType=VARCHAR},
      brithday = #{brithday,jdbcType=DATE},
      sex = #{sex,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      fk_school_id = #{fkSchoolId,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=DATE},
      balance = #{balance,jdbcType=DOUBLE},
      integral = #{integral,jdbcType=INTEGER},
      fk_integral_id = #{fkIntegralId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>